@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}


/* ======================== REUSABLE ELEMENTS (components) ============================== */
.btn{
    padding: 7px 5px;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    border-radius: .3rem;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--color-primary);
}


:root{
    --color-primary:#cc1815;
    --color-primary-fade:#ecc6c5;
    --color-secondary:#fccc00;
    --color-white:#fff;
    --color-black:#000;
}



.blog_container{
   position: relative;
}

.blog_container .banner{
    width: 100%;
    height: 45vh;
    /* margin-bottom: 2rem; */
    position: relative;
}

.blog_container .banner .img_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 90%);
}


.content{
    width: 90%;
    /* margin: 1.3rem auto; */
}

.content h1{
    margin-bottom: 1.3rem;
    font-size: 3rem;
}

.content .intro h2{
    margin-bottom: 1rem;
}

.content .intro{
    padding: .5rem;
    margin-bottom: 1rem;
}

.content .intro p{
    line-height: 1.5;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: .6rem;
}

.cards .card{
    margin: 1rem;
} 

.cards .card .image{
    width: 100%;
}

.cards .card .image img{
    width: 100%;
}

.cards .card .desc p{
    text-align: justify;
    line-height: 1.6;
}

.cards .card .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e09a99;
    color: #cc1815;
}